.top__flex__container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:40vh;
  width:100%;

}

.top__right__item{
  width:65vw;
  padding:2em;
  margin-left:1em;
  max-height:40vh;
}

.top__left__flex{
  width:35vw !important;
}

.top__left__item{
    padding:2em;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:0 !important;
    // border:white 2px solid;
}

textarea:focus{
  outline: none !important;
}
mat-form-field:focus{
  outline: none !important;

}


.bottom__flx__container{
    width:100%;
    min-height:40vh;
}

.bottom__left__flex{
  width:35vw;
  display:flex;
  align-items: center;
  justify-content: center;

}
.bottom__right__flex{
  display: flex;
  width:65vw;
  padding:2em;
  justify-content: center;
  align-items: center;
}
.upload__button{
  width:25vw;
  height:15vh;
}

#uploadimage{
  width:25vw;
  height:15vh;
}

.bottom__flx__container{
  display:flex;
}

#p2n{
  height:32vh;  
}

.example-full-width{
  width: 100%;
}

.bottom__right__bottom__flex{
  display:flex;
    align-items: center;
}

.main__flex__container{
  height: 88vh;
  padding:10px
}

#audioinput{
    height:5vh;
}

#checkbutton{
     padding:1em;
     margin-left: 4em;
    //  background-color:#204051;
     display: inline-block;
     background-color: #673ab7;
    color: white;
    border: black;
    border-style: solid;
    border-radius: 10px;
    //  border-radius:1em;

}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadtext{
  margin: 0.5em;

}
 
mat-form-field {
  .mat-hint, input, ::placeholder, .mat-form-field-label {
     color: black;
  }
}
mat-form-field{
*:focus {
 border-color: inherit;
 -webkit-box-shadow: none;
 box-shadow: none;
}
}
textarea:focus, input:focus ,mat-form-field:focus{
 outline: none !important;
}

#upload_button {
  display: inline-block;
}
#upload_button input[type=file] {
  display:none;
}




// // mat-icon-stepper selected color change 
// ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
//     background-color: black!important;    outline:none !important;
    
// }

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black!important;  
    
    // opacity: 1!important;
}

// //mat-input focused color
// ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//     color: white!important;   

// }

// // mat-input error outline color
// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
//     color: black!important;
//     opacity: 0.8!important;
//     outline:none !important;

// }



// // mat-label normal state style
// ::ng-deep .mat-form-field-label {
//     color: white !important;  
//     // color: $mainColor!important;
// }

// // mat-label focused style
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//     color: white!important;
//     border-radius: none !important;
    
// }

// // mat-label error style
// ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
//     color: black!important;
//     outline:none !important;

// } 


.gauge-chart__label{
  color:black !important;
}




.gauge-chart[_ngcontent-pct-c5]{
  color:black !important;
}





@media(max-width:800px){
  .top__flex__container{
    flex-direction: column;
  }
  .bottom__flx__container{
    flex-direction: column-reverse;
    align-items: center;
  }

  .bottom__right__flex{
    flex-direction: column;
  }
 
  
}


// .main__flex__container{

// }

h2{
  color: Black;
}

.news,ul,li{
  color:black;
}


.article{
  margin:0.5em;
  background-color: white;
  padding:1em;
}

a{
  text-decoration: none;
  color:black;
}

.readmore{
  border: 2px black solid !important;
}

.newscard{
  display: flex;
  flex-direction: column;
  // border: 1px solid #204051;
  border-radius: 2em;
  margin: 2em;
  // background-color:black;
}
