.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  a{
    margin-right :1em;
    text-decoration:none;
    color:#ffffff !important;
  }

  .contaner__whole{
    padding:0;
    margin: 0;
    height:100vh;
    // background-color:#84a9ac !important;
  }

.row{
  display:flex;
  flex-direction: row;
}
button{
  margin-left:2em;
  font-size:0.8em;
  font-weight:bold;
}
